@use "../global-styles/variables";
@use "../global-styles/mixins";

.video-player-container {
    display: grid;
    grid-template-rows: 95;
    background: #000;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    .video-container {
        grid-area: 1 / 1 / 2 / 2;
        width: 90%;
        height: 90%;
        display: grid;

        .video {
            aspect-ratio: 16 / 9;
            align-self: center;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .video-player-container {
        display: grid;
        grid-template-rows: auto;

        .video-container {
            height: auto;
        }
    }
}
