@use "../global-styles/variables";
@use "../global-styles/mixins";

.filter-bar-container {
    @include mixins.grid-for-components;
    width: 100%;
    background-color: variables.$background-light;
}

.filter-bar {
    @include mixins.grid-area-for-components;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-auto-flow: column;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;

    span {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
        display: block;
        width: auto;
    }

    .filters {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        grid-auto-flow: column;
        overflow-x: auto;
        white-space: nowrap;
        align-items: center;
    }
}

.filter-item {
    cursor: pointer;
    user-select: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding: 30px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.filter-item:hover {
    //color: variables.$main-blue;
    //background-color: rgba(0, 0, 0, 0.02);
    //box-shadow: inset 0 -5px 0 variables.$main-blue;

    background-color: variables.$main-blue;
    color: #fff;
}

.filter-item.active {
    color: variables.$main-blue;
    box-shadow: inset 0 -5px 0 variables.$main-blue;
}

.favorites-filter {
    display: flex;
    justify-self: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filter-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.filter-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 1279px) {
    .filter-bar {
        grid-template-columns: none;
        grid-template-rows: 30px 1fr;
        grid-auto-flow: row;
        align-content: center;

        span {
            text-align: center;
        }
    }
    .filter-item {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 460px) {
    .filter-bar-container {
        grid-template-columns: minmax(10px, auto) minmax(280px, 1680px) minmax(
                10px,
                auto
            );
    }
}
