@use "../global-styles/variables";
@use "../global-styles/mixins";

.footer {
    height: 30px;
    width: 100%;
    background-color: variables.$main-red;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
