.password-strength-meter {
    //display: flex;
    align-items: center;
    gap: 10px; /* Adjust gap as needed */
    width: 100%; /* Ensures the meter spans the full width */
}

.password-strength-bar {
    height: 5px;
    background-color: #ddd;
    flex-grow: 1; /* This will allow the bar to grow */
}

/* Individual strength levels */
.strength-1 {
    width: 20%;
    background-color: red;
}
.strength-2 {
    width: 40%;
    background-color: orange;
}
.strength-3 {
    width: 60%;
    background-color: yellow;
}
.strength-4 {
    width: 80%;
    background-color: lightgreen;
}
.strength-5 {
    width: 100%;
    background-color: green;
}
