@use "../global-styles/mixins";
@use "../global-styles/variables";

.signin-sso-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-sso {
    width: 480px;
    padding: 45px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: variables.$background-light;
    border-radius: 8px;

    img {
        padding-bottom: 45px;
    }
    form {
        width: 100%;
        display: flex;
        flex-flow: column nowrap; /* Ensures vertical layout for form elements */
        align-items: center; /* Centers form elements horizontally */
    }

    input {
        width: 100%; /* Ensures inputs take full width of the form */
        margin-bottom: 10px; /* Adds space between inputs */
        /* Additional styling here */
    }
    button {
        margin-top: 10px;
        //width: 100%;
        padding: 15px 25px;
        color: variables.$text-light;
        background-color: variables.$main-red;
        border: none;
        border-radius: 8px;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    button:hover {
        opacity: 0.9;
    }
}

.forgot-links {
    text-align: center;
}

.small-link {
    color: blue !important;
    background-color: transparent !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    text-align: center;
}
