@use '../global-styles/variables';

.top-nav-container {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 320px 1fr;
    position: fixed;
    padding: 10px 0;
    z-index: 1;
    background-color: variables.$main-red;

    .top-nav-logo {
        width: 320px;
        text-align: center;
        line-height: 0;

        img {
            width: 80%;
            
        }
    }

    .top-nav-links-container {
        text-align: center;

        ul {

            li {
                display: inline;

                a {
                    padding: 15px;
                    color: variables.$text-light;
                    transition: all .3s ease-in-out;
                }

                a:hover {
                    border-radius: 8px;
                    background-color: rgba(0,0,0,0.1);
                }
            }
        }
    }
}