@use "../global-styles/variables";
@use "../global-styles/mixins";

.video-grid-container {
    @include mixins.grid-for-components;
}

.video-grid {
    @include mixins.grid-area-for-components;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    grid-gap: 30px;
}

.entry-test {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
    display: inline-grid;
}

.video-player-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$background-red;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
    display: grid;
    grid-template-columns: auto 25vw;

    .video-container {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
        background: #000;
        display: grid;

        .video {
            aspect-ratio: 16 / 9;
            align-self: center;
            width: 100%;
        }
    }

    .video-data-container {
        grid-area: 1 / 2 / 2 / 3;
    }
}

.video-player-fullscreen.visible {
    opacity: 1;
}

.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    margin-top: -3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.close-button:hover {
    color: variables.$main-red;
}
