@use "../global-styles/variables";
@use "../global-styles/mixins";

.video-grid-container {
    @include mixins.grid-for-components;
    margin-top: 30px;
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 30px;
    padding-bottom: 150px;
}

.video-grid {
    @include mixins.grid-area-for-components;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
}

.entry-test {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
    display: inline-grid;
}

.video-player-fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: variables.$background-red;
    opacity: 0;
    transition: opacity 0.3s;
    display: grid;
    grid-template-columns: auto 25vw;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 99999;

    .video-container {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
        background: #000;
        display: grid;

        .video {
            aspect-ratio: 16 / 9;
            align-self: center;
            width: 100%;
        }
    }

    .video-data-container {
        grid-area: 1 / 2 / 2 / 3;
        overflow: auto;
    }
}

.video-player-fullscreen.visible {
    opacity: 1;
    z-index: 1001;
    z-index: 99999;
    overflow: scroll;
}

.video-js {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.close-button {
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    margin-top: -3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    z-index: 999999;
}

.close-button:hover {
    color: variables.$main-red;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }
}

@media screen and (max-width: 1024px) {
    .video-player-fullscreen {
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
        grid-auto-flow: row;
        height: auto;
        min-height: 100vh;
        overflow-y: auto;
        width: 100vw;
        height: 80vh;
        overflow-y: auto;
        padding-top: 30px;
        background: #000;

        .video-container {
            grid-area: 1 / 1 / 2 / 2;
            width: 100%;
            height: auto;
            background: #000;
            display: grid;
            top: 5%;

            .video {
                aspect-ratio: 16 / 9;
                align-self: center;
                width: 100%;
            }
        }

        .video-data-container {
            grid-area: 2 / 1 / 3 / 2;
            height: 70vh;
            overflow-y: auto;
            padding-bottom: 50px;
            background-color: variables.$background-red;
        }
    }
    .video-js {
        height: 30vh;
    }

    .video-player-fullscreen.visible {
    }

    .close-button {
        color: rgba(255, 255, 255, 1);
        padding: 5px 10px;
        margin-top: 30px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media screen and (max-width: 460px) {
    .video-grid-container {
        grid-template-columns: minmax(10px, auto) minmax(200px, 1680px) minmax(
                10px,
                auto
            );
    }
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 900px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    .video-grid-container {
        grid-template-columns: minmax(10px, auto) minmax(200px, 1680px) minmax(
                10px,
                auto
            );
    }
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}
