@use "../global-styles/variables";
@use "../global-styles/mixins";

.video-data {
    height: auto;
    width: 100%;
    padding: 30px;
    height: 100%;
    display: grid;
    justify-content: space-between;

    .video-title-instructor {
        .video-title {
            font-family: "Yeseva One", serif;
            color: variables.$main-red;
            font-size: 2.5em;
        }

        .video-instructor {
            color: variables.$text-dark;
        }
    }

    .video-description {
        color: variables.$text-dark;
    }

    .video-social-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        align-self: end;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        .social-button {
            border: none;
            background: none;
            border-radius: 15px;
            background-color: variables.$main-red;
            padding: 20px 0;
            transition: all 0.3s ease-in-out;
            width: 100%;

            .social-icon {
            }
            .social-text {
                text-transform: uppercase;
                font-size: 0.75em;
                display: block;
                color: #fff;
            }
        }
        button:hover {
            background-color: variables.$main-blue;
            cursor: pointer;
        }
    }
}

.social-icon {
    height: 26px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .video-description {
        padding: 30px 0;
    }
}
