@use "../global-styles/variables";
@use "../global-styles/mixins";

.video-grid-container {
    @include mixins.grid-for-components;
    margin-top: 30px;
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 30px;
    padding-bottom: 150px;
}

.video-grid {
    @include mixins.grid-area-for-components;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
}

.entry-test {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
    display: inline-grid;
}

.video-player-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$background-red;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
    display: grid;
    grid-template-columns: auto 25vw;

    .video-container {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
        background: #000;
        display: grid;

        .video {
            aspect-ratio: 16 / 9;
            align-self: center;
            width: 100%;
        }
    }

    .video-data-container {
        grid-area: 1 / 2 / 2 / 3;
    }
}

.video-player-fullscreen.visible {
    opacity: 1;
    z-index: 1001;
}

.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    margin-top: -3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.close-button:hover {
    color: variables.$main-red;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }
}

@media screen and (max-width: 1024px) {
    .video-player-fullscreen {
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
        grid-auto-flow: row;
        height: auto;
        min-height: 100vh;
        overflow: scroll;

        .video-container {
            grid-area: 1 / 1 / 2 / 2;
            width: 100%;
            height: auto;
            background: #000;
            display: grid;

            .video {
                aspect-ratio: 16 / 9;
                align-self: center;
                width: 100%;
            }
        }

        .video-data-container {
            grid-area: 2 / 1 / 3 / 2;
        }
    }

    .close-button {
        color: rgba(255, 255, 255, 0.4);
    }
}

@media screen and (max-width: 460px) {
    .video-grid-container {
        grid-template-columns: minmax(10px, auto) minmax(200px, 1680px) minmax(
                10px,
                auto
            );
    }
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
